<div class ="col-lg-12">
<div class = "card  mb-5 rounded-0">
	<div class = "card-body bg-dark text-light">
      <h2 class = "text-center">Edit Employee Information</h2>
	</div>
</div>
<div class = "container">
<%= render "form", employee: @employee %>
</div>
</div>